 @import url("https://use.typekit.net/imi1uak.css");



/*-----------------------------------------Navbar*/
header{
    margin: 0;
    font-family: 'adobe-garamond-pro', serif;
    font-style: normal;
    font-size: 140%;
    letter-spacing: 10%;
}

/*-----------------------------------------General*/
body{
    font-family: 'adobe-garamond-pro', serif;
    font-style: normal;
    letter-spacing: 10%;
    background-color: #F8F9FA;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
    /* https://www.transparenttextures.com/ */
    padding-right: 0px;
    }

.bateman{
    font-size: 150%;
}

/*----------------------------------------- Buttons*/

.btn-outline-danger {
    color: #BF0000;
    border-color: #BF0000;
}

.btn-outline-danger:hover {
    background-color: #BF0000;
    border-color: #BF0000;
    color: #fff
}


/*-----------------------------------------Remove automatic margins on contanier-fluid*/
.container-fluid{
    padding: 0px;
}

/*-----------------------------------------Footer*/


.footer-header{

}

.footer-paragraph{

}

/*-----------------------------------------Form*/

.form-control {
    margin-bottom: 10px;
}

/*-----------------------------------------Images*/

#wrapper{
    padding-left: 40px;
    padding-right: 40px;
}

.patrickimage{
    max-width: 100%;
    /* height: 75%; */
    
}

.homepage-banner-text{
    padding: 25px 25px 75px;
    text-align: left;
}

@media screen and (min-width: 1110px) {
  #wrapper {
    padding-left: 20%;
    padding-right: 20%;
  }
}

/*-----------------------------------------font*/

.bannerhp{
    font-size: 90%
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}