 @import url("https://use.typekit.net/imi1uak.css");



/*-----------------------------------------Navbar*/
header{
    margin: 0;
    font-family: 'adobe-garamond-pro', serif;
    font-style: normal;
    font-size: 140%;
    letter-spacing: 10%;
}

/*-----------------------------------------Font*/
body{
    font-family: 'adobe-garamond-pro', serif;
    font-style: normal;
    letter-spacing: 10%;
    text-align: center;
    /* background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
    /* https://www.transparenttextures.com/ */
    display: block;
    }

.bateman{
    font-size: 150%;
}

/*-----------------------------------------Remove automatic margins on contanier-fluid*/
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

/*-----------------------------------------Footer*/


.footer-header{

}

.footer-paragraph{

}

/*-----------------------------------------Form*/

.form-control {
    margin-bottom: 10px;
}

/*-----------------------------------------Patrick headshot*/
.patrickimage {
    height: auto;
    width: auto;
    margin-bottom: 0px;
}


.homepage-container {
    height: 500px;
}

/*-----------------------------------------http://jsfiddle.net/2wNb7/*/

.onhover {
    display: none;
}

.prehover {
    display: inline;
    font-family: 'adobe-garamond-pro', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 150%;
    letter-spacing: 10%;
}

.patrickintro:hover .onhover {
    display: inline;
    font-family: 'adobe-garamond-pro', serif;
    font-style: normal;
    font-weight: 700;
    color: #bf0000;
    font-size: 150%;
    letter-spacing: 10%;  
}

.patrickintro:hover .prehover {
    display: none;  
}

/*-----------------------------------------http://jsfiddle.net/2wNb7/*/